.top-container {
    -fx-padding: 20px 70px;
}
.player-info {
    -fx-text-fill: rgba(241, 233, 218, 0.3);
    -fx-fill: rgba(241, 233, 218, 0.3);
    -fx-font-family: "Verdana, sans-serif";
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.start-message {
    -fx-text-fill: rgba(241, 233, 218, 0);
    -fx-fill: rgba(241, 233, 218, 0);
    -fx-font-family: "Verdana, sans-serif";
    -fx-font-size: 52;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-stroke: rgba(241, 233, 218, 0.2);
    -fx-stroke-width: 1;
}

.goal-message {
    -fx-text-fill: #FF910A;
    -fx-fill: #FF910A;
    -fx-font-family: "Verdana, sans-serif";
    -fx-font-size: 52;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-effect: dropshadow( three-pass-box , rgba(255, 145, 10, 0.3), 20, 0.0 , 0 , 1 );
    -fx-stroke-width: 0;
}

.racket {
    -fx-fill: #FF910A;
    -fx-effect: dropshadow( three-pass-box , #ff910a, 10, 0.0 , 0 , 1 );
}

.ball {
    -fx-fill: #B0413E;
    -fx-effect: dropshadow( three-pass-box , #b0413e, 20, 0.0 , 0 , 1 );
}

.game-control-button {
    -fx-effect: dropshadow( three-pass-box , rgba(255, 145, 10, 0.5), 15, 0.0 , 0 , 1 );
}
