/* Menu Bar */
.menu-bar {
    -fx-background-image: url('../images/bg.jpg');
    -fx-background-size: cover;
    -fx-background-color: rgba(241, 233, 218, 0.05);

    -fx-text-fill: #f1e9da !important;
    -fx-fill: #f1e9da !important;
    -fx-padding: 0px;
    
    -fx-effect: dropshadow( three-pass-box , rgba(255, 145, 10, 0.6), 20, 0.0 , 0 , 1 );
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #ff910a;
}

/* Menu */
.menu {
    -fx-background-color: transparent;
    -fx-padding: 10px 14px;
}
.menu > .label {
    -fx-text-fill: #f1e9da !important;
    -fx-fill: #f1e9da !important;
    -fx-font-family: "Verdana, sans-serif";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}
.menu:hover {
    -fx-background-color: rgba(241, 233, 218, 0.1);
}
.context-menu {
    -fx-background-image: url('../images/bg.jpg');
    -fx-background-size: cover;
    -fx-background-color: rgba(241, 233, 218, 0.05);

    -fx-min-width: 100px;
    -fx-padding: 0;
}

/* Menu items */
.menu-item {
    -fx-background-color: transparent;
    -fx-font-family: "Verdana, sans-serif";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-padding: 8px 14px;
}
.menu-item:hover {
    -fx-background-color: rgba(241, 233, 218, 0.1);
}
.menu-item > .label {
    -fx-text-fill: #aaa59e !important;
    -fx-fill: #f1e9da !important;
}
