/* Menu Bar */
.menu-bar {
    -fx-background-color: rgba(241, 233, 218, 0.05);
    -fx-text-fill: #f1e9da !important;
    -fx-fill: #f1e9da !important;
    -fx-padding: 0px;
}

/* Menu */
.menu {
    -fx-background-color: transparent;
    -fx-padding: 10px 14px;
}
.menu > .label {
    -fx-text-fill: #f1e9da !important;
    -fx-fill: #f1e9da !important;
    -fx-font-family: "Verdana, sans-serif";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}
.menu:hover {
    -fx-background-color: rgba(241, 233, 218, 0.1);
}
.context-menu {
    -fx-background-color: rgba(241, 233, 218, 0.05);
    -fx-min-width: 100px;
    -fx-padding: 0;
}

/* Menu items */
.menu-item {
    -fx-background-color: transparent;
    -fx-font-family: "Verdana, sans-serif";
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-padding: 8px 12px;
}
.menu-item:hover {
    -fx-background-color: rgba(241, 233, 218, 0.1);
}
.menu-item > .label {
    -fx-text-fill: #aaa59e !important;
    -fx-fill: #f1e9da !important;
}
